.container {
    background-color: var(--color-bg-primary);
    height: 100%;
    padding: 2rem 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.logo img {
    width: 8rem;
    height: auto;
}

.logo h1 {
    font-size: 4rem;
    color: var(--color-secondary);
}

.subtitle_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle_container h2 {
    text-align: center;
    padding: 1rem 2rem;
    margin: 0;
}

.subtitle_container button {
    max-width: 10rem;
    margin: 1rem;
}
