.footer_container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-accent);
    padding: 4rem;
    gap: 4rem;
}

.text_and_map_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info_block {
    display: flex;
    gap: 2.5rem;
}

.telephone_icon {
    width: 2rem;
    padding-left: 0.3rem;
}

.map_container {
    width: 22rem;
    height: 18rem;
    overflow: hidden;
    border-radius: 25px;
}

.map_container img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.legal_info_container {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rights span {
    color: var(--color-primary);
}

.mentions span {
    color: var(--color-secondary);
}

@media (min-width: 1024px) {
    .text_and_map_container {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .map_container {
        width: 30rem;
    }
}
