.main_container {
    height: auto;
}

section h2 {
    font-size: 2rem;
    margin: 0;
}

.team_section {
    background-color: var(--color-bg-primary);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.hero_card_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.services_card_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.treatment_card_container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.services_section {
    background-color: var(--color-bg-secondary);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.treatment_section {
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

@media (min-width: 768px) {
    section h2 {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .hero_card_container {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 10rem;
    }

    .services_card_container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .treatment_card_container {
        flex-direction: row;
    }
}
