.main_container {
    height: auto;
}

section h2 {
    font-size: 2rem;
    margin: 0;
}

.team_section {
    background-color: var(--color-bg-primary);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.services_section {
    background-color: var(--color-bg-secondary);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.treatment_section {
    height: 100rem;
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}
