.navbar {
    background-color: var(--color-primary);
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navlink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 0.9rem;
}
.icon {
    font-size: 1.3rem;
}

/* Tablet */
@media (min-width: 768px) {
    .navlink {
        flex-direction: row;
        gap: 0.5rem;
    }
    .navbar {
        padding: 1rem;
    }
    .text {
        font-size: 1rem;
    }

    .icon {
        font-size: 1.4rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .text {
        font-size: 1.2rem;
    }

    .icon {
        font-size: 1.6rem;
    }
}
