.card {
    position: relative;
    width: 18rem;
    height: 20rem;
    border: 3px solid var(--color-primary);
    border-radius: 15px;
}

.icon_container {
    position: absolute;
    //cenrtrado en el eje x
    left: 50%;
    transform: translateX(-50%);
    //centrado en el eje y
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 98;
    border: 3px solid var(--color-primary);
    border-radius: 50px;
    width: 6rem;
    height: 6rem;
    background-color: var(--color-bg-primary);
    display: flex;
    justify-content: center;
}

.icon_container img {
    padding: 1rem;
}

.description_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    color: var(--color-primary);
}

.description_container h3 {
    margin: 3rem 0 0 0;
    text-align: center;
}

.description_container p {
    margin: 0;
    color: var(--color-accent);
    font-size: small;
}
