.card {
    width: 18rem;
    height: 20rem;
    border-radius: 15px 15px 0 0;
    box-shadow: 5px 5px 13px 1px rgba(0, 0, 0, 0.41);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-primary);
}

.image_container {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

.image_container img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.description_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
}

.description_container p {
    font-size: 0.6rem;
    color: var(--color-accent);
}

.description_container h3 {
    margin: 0;
}
