.main_container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
    padding: 2rem;
}

.main_container p,
ul,
ol {
    color: var(--color-accent);
    font-size: 0.8rem;
}

.image_container {
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 20rem;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main_container h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
}

.info_container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info_container h2 {
    font-size: 1.3rem;
}
