.profile_image {
    width: 100%;
    height: 10rem;
    border: 1px solid var(--color-bg-secondary);
}

.profile_image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.hero_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.name {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin: 0.2rem;
    margin-top: 1rem;
}

.ocupation {
    color: var(--color-secondary);
    margin: 0.2rem;
}

// Animación flip cards
.card {
    width: 14rem;
    height: 18rem;
    perspective: 1000px;
    cursor: pointer;

    .card_inner {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.6s ease;
        transform-style: preserve-3d;
    }

    .card_front,
    .card_back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 25px;
        overflow: hidden;
    }

    .card_front {
        background-color: var(--color-accent);
    }

    .card_back {
        background-color: var(--color-primary);
        transform: rotateY(180deg);
        text-align: center;
    }

    .card_back p {
        padding: 1rem;
    }
}

.card.isFlipped .card_inner {
    transform: rotateY(180deg);
}

//media query que determina si el dispositivo usa raton o pad para disparar la animación con hover o con click
@media (hover: hover) and (pointer: fine) {
    .card:hover .card_inner {
        transform: rotateY(180deg);
    }
}
