.card {
    width: 14rem;
    height: 18rem;
    background-color: var(--color-accent);
    border-radius: 25px;
    box-shadow: 0.2rem 0.2rem rgb(166, 183, 170, 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.profile_image {
    width: 100%;
    height: 10rem;
    border: 1px solid var(--color-bg-secondary);
}

.profile_image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.hero_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.name {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin: 0.2rem;
    margin-top: 1rem;
}

.ocupation {
    color: var(--color-secondary);
    margin: 0.2rem;
}
