:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    --color-primary: #bb7154;
    --color-secondary: #d2a96a;
    --color-bg-primary: #fefae0;
    --color-bg-secondary: #a6b7aa;
    --color-accent: #5c6e6c;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
    font-family: "DM serif text", serif;
}

p,
small {
    font-family: "Quicksand", serif;
}

button {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    min-width: 10rem;
    border-radius: 25px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.8em;
    font-family: "Quicksand", serif;
    font-weight: 500;
    background-color: var(--color-primary);
    color: var(--color-bg-primary);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: var(--color-bg-secondary);
}
button:focus,
button:focus-visible {
    outline: 2px solid var(--color-bg-primary);
}

a {
    text-decoration: none;
    color: inherit;
}
